a:link {
	color:green;
	border:1px solid #333333;
	padding:5px;
	text-decoration: none;
}

a:visited {
	color:grey;
}

a:hover {
	color:red;
	border:1px dashed red;
}

a:active {
	color:orange;
	text-decoration: none;
}

a.botao_home
{
	display:block;
	width:100px;
	height:100px;
	background: url("home_ico.gif") no-repeat;
}

a.botao_home:hover
{
	background: url("home_ico_hover.gif") no-repeat;
}

a.botao_home:active
{
	border:2px dashed #c0c0c0;
}

