body {
  background: white;
  color: black
}

h1 {
  color: #c33;
  background: transparent;
  font-weight: bold;
  text-align: center
}

h2 {
  color: #00008b;
  background: transparent;
  font-weight: bold
}


h3 {
  color: #006400;
  background: transparent;
  margin-left: 4%;
  margin-right: 4%;
  font-weight: bold
}

thead {
  color:black;
  background-color:#FFDAB9;
  font-variant:small-caps;
  font-weight:bolder;
}

tbody {
  color:black;
  background-color:transparent;
}

tfoot {
  color:black;
  background-color:transparent;
}

table caption {
  font-size: larger;
  font-weight: bolder
}

ul, ol, p {
  margin-left: 6%;
  margin-right: 6%
}

ul ul {
  margin-right: 1%
}

table p, ul p {
  margin-left: 0;
  margin-right: 0
}

p.top {
  margin-left: 1%;
  margin-right: 1%
}

a:link {
  color: #00f;
  background: transparent;
}

a:visited {
  color: #800080;
  background: transparent;
}

a:active {
  color: green;
  background: #FFD700
}